<!--<div class="card mt-2 mb-2">
    <div id="id_card_step_0" class="card-body pr-2 pl-2 pr-md-5 pl-md-5">
        <div class="row">
            <div class="col-11">
                <h4 id="id_step_0" class="handle">-->@*<i class="fas fa-paragraph"></i>*@<!--Step 1</h4>
            </div>
            <div class="col-1" style="text-align: right;">
                <div class="dropout">
                    <button class="more">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div>-->
                        @*@Html.ActionLink("Edit", "EditProduct", new { id = p.p_id })

                            @Html.ActionLink("Remove", "RemoveProduct", new { id = p.p_id })*@

                    <!--</div>
                </div>
                <style>
                    .more {
                        cursor: pointer;
                        border: none;
                        background: transparent;
                    }

                        .more span {
                            display: block;
                            width: .25rem;
                            height: .25rem;
                            background: #363636;
                            border-radius: 50%;
                            pointer-events: none;
                        }

                            .more span:not(:last-child) {
                                margin-bottom: .125rem;
                            }

                    .dropout {
                        z-index: 9001;
                        width: fit-content;
                        position: relative;
                        margin-left: auto;
                        margin-right: auto;
                    }

                        .dropout div {
                            position: absolute;
                            top: -1.1rem;
                            right: 1.5rem;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 0.12s ease;
                            background-color: cornsilk;
                            border-color: antiquewhite
                        }

                        .dropout.active div {
                            transform: scaleX(1);
                        }
                </style>
                <script>
                                            document.querySelector('table').onclick = ({
                                                target
                                            }) => {
                                                if (!target.classList.contains('more')) return
                                                document.querySelectorAll('.dropout.active').forEach(
                                                    (d) => d !== target.parentElement && d.classList.remove('active')
                                                )
                                                target.parentElement.classList.toggle('active')
                                            }
                </script>
                <!--<a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn shadow-none btn-lg">
                    <i class="fas fa-ellipsis-v text-muted"></i>
                </a>
                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item"><i class="fa fa-trash fa-fw"></i> Delete </button>
                    <button type="button" class="dropdown-item"><i class="fas fa-eye fa-fw"></i> Show as header </button>-->
                <!----><!----><!---->
                <!--</div>-->
            <!--</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="id_step_18514name">Instruction</label>
                <input id="id_step_18514name" class="form-control">
            </div>
        </div>-->
        <!--<div class="row pt-2">
            <div class="col col-md-12">
                <button type="button" class="btn ml-1 btn-primary btn-sm rounded-pill">
                    <i class="fas fa-plus-circle"></i> Time
                </button>-->
        <!----><!---->
        <!--<button type="button" class="btn ml-1 btn-primary btn-sm rounded-pill">
                    <i class="fas fa-plus-circle"></i> Recipe
                </button>
                <button type="button" class="btn ml-1 btn-primary btn-sm rounded-pill">
                    <i class="fas fa-plus-circle"></i> File
                </button>
                <button type="button" class="btn ml-1 btn-primary btn-sm rounded-pill">
                    <i class="fas fa-plus-circle"></i> Paste Ingredients
                </button>
            </div>
        </div>-->
        <!----><!----><!---->
        <!--<div class="row pt-2">
            <div class="col-md-12">
                <div class="jumbotron" style="padding: 16px;">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Ingredients</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pr-0 pl-0 pr-md-2 pl-md-2 mt-2">
                            <div>
                                <div draggable="false" class="" style="">
                                    <hr class="d-md-none">--><!---->
                                    <!--<div class="d-flex">
                                        <div class="flex-grow-0 handle align-self-start">
                                            <button type="button" class="btn btn-lg shadow-none pr-0 pl-1 pr-md-2 pl-md-2"><i class="fas fa-arrows-alt-v"></i></button>
                                        </div>
                                        <div class="flex-fill row" style="margin-left: 4px; margin-right: 4px;">
                                            <div class="col-lg-3 col-md-6 small-padding"><input type="number" step="any" id="amount_0_0" class="form-control"></div>
                                            <div class="col-lg-3 col-md-6 small-padding">   @Html.DropDownList("pc_id", new SelectList(ViewBag.ProductCategory, "pc_Id", "Name"), htmlAttributes: new { @class = "form-control" })</div>
                                            <div class="col-lg-3 col-md-6 small-padding">  <input type="text" class="form-control" placeholder="product_unit" /> </div>
                                            <div class="col-lg-3 col-md-6 small-padding">  <input type="text" class="form-control" placeholder="amount_req" /> </div>-->
                                            <!--<div class="col-lg-2 col-md-6 small-padding">
                                                <div tabindex="-1" class="multiselect">
                                                    <div class="multiselect__select"></div>
                                                    <div class="multiselect__tags">
                                                        <div class="multiselect__tags-wrap" style="display: none;"></div>-->
                                            <!---->
                                            <!--<div class="multiselect__spinner" style="display: none;"></div>
                                            <input name="" id="unit_0_0" type="text" autocomplete="nope" placeholder="Select Unit" tabindex="0" class="multiselect__input" style="width: 0px; position: absolute; padding: 0px;"> <span class="multiselect__single">g</span>-->
                                            <!---->
                                            <!--</div>
                                            <div tabindex="-1" class="multiselect__content-wrapper" style="max-height: 300px; display: none;">
                                                <ul class="multiselect__content" style="display: inline-block;">-->
                                            <!---->
                                            <!--<li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option multiselect__option--highlight"><span>­</span></span>--> <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>&amp;</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>+</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>-</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>–</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(1</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1"</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(10</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(10.75</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>10g</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>10oz.</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1½"</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1½"-thick</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>11-ounce</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(12</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(12-</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(12oz.)</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>–1/3</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(13.5-ounce/400</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1⁄4</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>14.5-ounce</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(¼-ounce)</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(1/4-ounce)</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(14-ounce</span></span>-->
                                            <!---->
                                            <!--</li>
                                                            <li style="display: none;"><span class="multiselect__option">No elements found. Consider changing the search query.</span></li>
                                                            <li style="display: none;"><span class="multiselect__option">List is empty. </span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><div class="col-lg-4 col-md-6 small-padding">
                                                <div tabindex="-1" class="multiselect">
                                                    <div class="multiselect__select"></div>  <div class="multiselect__tags">
                                                        <div class="multiselect__tags-wrap" style="display: none;"></div>-->
                                            <!----> <!--<div class="multiselect__spinner" style="display: none;"></div> <input name="" id="ingredient_0_0" type="text" autocomplete="nope" placeholder="Select Food" tabindex="0" class="multiselect__input" style="width: 0px; position: absolute; padding: 0px;">--> <!---->
                                            <!--<span class="multiselect__placeholder">
                                                    Select Food
                                                </span>
                                            </div>

                                            <div tabindex="-1" class="multiselect__content-wrapper" style="max-height: 300px; display: none;">

                                                <ul class="multiselect__content" style="display: inline-block;">-->
                                            <!---->
                                            <!--<li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option multiselect__option--highlight"><span>-</span></span>--> <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>...</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>0</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>00 white flour</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(0,1 g) Safranfäden</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>/ 0.25 oz / 2¼ tsp instant dried yeast</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 g) neutral-flavored oil</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 g out of shell) eggs</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 grams) all-purpose flour</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 grams) coarsely chopped pecans</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 grams) granulated sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 grams) granulated white sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(100 g) sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(105 grams) light brown sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(106 g) granulated sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(106 g) packed light brown sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(106g) packed light brown sugar</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(10 grams) vanilla extract or 1 teaspoon extract and 1 teaspoon vanilla bean paste</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(10mL) vanilla extract</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>10 ounces noodles</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(110 grams) honey or golden syrup</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1 1/2 ounces powdered gelatin (4 to 6 packets; 30 to 45g), such as Knox</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>1 ½ pounds store-bought or Homemade Tortilla Chips</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(1 1/2 tablespoons) honey syrup</span></span>-->
                                            <!---->
                                            <!--</li>
                                            <li class="multiselect__element"><span data-select="Select" data-selected="Selected" data-deselect="Deselect" class="multiselect__option"><span>(1 1/2 tablespoons) pure maple syrup</span></span>-->
                                            <!---->
                                            <!--</li>
                                                            <li style="display: none;"><span class="multiselect__option">No elements found. Consider changing the search query.</span></li>
                                                            <li style="display: none;"><span class="multiselect__option">List is empty. </span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>-->-->
                                            <!--@*<div class="small-padding col-lg-4 col-md-6"><input maxlength="256" placeholder="Note" class="form-control"></div>*@
                                        <!--</div>
                                        <div class="flex-grow-0 small-padding">
                                            <button type="button" class="dropdown-item"><i class="fa fa-trash fa-fw"></i>  </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    @*<div class="row">
                            <div class="col-md-2 offset-md-5" style="text-align: center; margin-top: 8px;">
                                <button class="btn btn-success btn-block">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>*@
                <!--</div>
            </div>
        </div>-->
        @*<div class="row pt-2">
                                                <div class="col-md-12">
                                                    <label for="id_instruction_18514">Instructions</label>
                                                    <textarea spellcheck="true"></textarea>
                                                    <div class="v-md-editor v-md-editor--edit" style="height: 30vh;">
                                                        <div class="v-md-editor__left-area" style="width: 0px; border-width: 0px;">
                                                            <div class="v-md-editor__left-area-title" style="height: 41px; line-height: 41px;">
                                                                Directory navigation
                                                            </div>
                                                            <div class="v-md-editor__left-area-body"><div class="scrollbar"><div class="scrollbar__wrap" style="margin-bottom: 0px; margin-right: 0px;"><div class="scrollbar__view"><ul class="v-md-editor__toc-nav"></ul></div></div><div class="scrollbar__bar is-horizontal"><div class="scrollbar__thumb" style="transform: translateX(0%);"></div></div><div class="scrollbar__bar is-vertical"><div class="scrollbar__thumb" style="transform: translateY(0%);"></div></div></div></div>
                                                        </div><div class="v-md-editor__right-area">
                                                            <div class="v-md-editor__toolbar">
                                                                <ul class="v-md-editor__toolbar-left">
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-undo v-md-editor__toolbar-item-undo">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Undo（Ctrl+Z）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-redo v-md-editor__toolbar-item-redo">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Redo（Ctrl+Y）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-divider"></li>
                                                                    <li class="v-md-editor__toolbar-item v-md-editor__toolbar-item-h v-md-editor__toolbar-item--menu">
                                                                        H
                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Headings（Ctrl+1~6）
                                                                        </div><ul class="v-md-editor__menu v-md-editor__menu--list" style="left: 0px; display: none;"><li class="v-md-editor__menu-item v-md-editor__menu-item-h1">Heading 1</li><li class="v-md-editor__menu-item v-md-editor__menu-item-h2">Heading 2</li><li class="v-md-editor__menu-item v-md-editor__menu-item-h3">Heading 3</li><li class="v-md-editor__menu-item v-md-editor__menu-item-h4">Heading 4</li><li class="v-md-editor__menu-item v-md-editor__menu-item-h5">Heading 5</li><li class="v-md-editor__menu-item v-md-editor__menu-item-h6">Heading 6</li></ul><i class="v-md-icon-arrow-down v-md-editor__menu-ctrl"></i>
                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-bold v-md-editor__toolbar-item-bold">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Bold（Ctrl+B）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-italic v-md-editor__toolbar-item-italic">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Italic（Ctrl+I）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-strikethrough v-md-editor__toolbar-item-strikethrough">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Strike
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-quote v-md-editor__toolbar-item-quote">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Blockquote（Ctrl+Q）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-divider"></li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-ul v-md-editor__toolbar-item-ul">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Unordered list（Ctrl+U）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-ol v-md-editor__toolbar-item-ol">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Ordered list（Ctrl+O）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-table v-md-editor__toolbar-item-table">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Insert table
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-horizontal v-md-editor__toolbar-item-hr">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Line
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-divider"></li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-link v-md-editor__toolbar-item-link">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Insert link（Ctrl+L）
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-img v-md-editor__toolbar-item-image v-md-editor__toolbar-item--menu">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Insert image
                                                                        </div><ul class="v-md-editor__menu v-md-editor__menu--list" style="left: 0px; display: none;"><li class="v-md-editor__menu-item v-md-editor__menu-item-image-link">Insert link</li></ul><i class="v-md-icon-arrow-down v-md-editor__menu-ctrl"></i>
                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-code v-md-editor__toolbar-item-code">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Insert Codeblock
                                                                        </div>

                                                                    </li>
                                                                </ul><ul disabled-mens="image/upload-image" class="v-md-editor__toolbar-right">
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-preview v-md-editor__toolbar-item-preview">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Enable preview
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-sync v-md-editor__toolbar-item-sync-scroll v-md-editor__toolbar-item--active">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Disable sync scroll
                                                                        </div>

                                                                    </li>
                                                                    <li class="v-md-editor__toolbar-item v-md-icon-fullscreen v-md-editor__toolbar-item-fullscreen">

                                                                        <div class="v-md-editor__tooltip" style="left: 0px; top: 0px; display: none;">
                                                                            Full screen(Press ESC to exit)
                                                                        </div>

                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="v-md-editor__main">
                                                                <div class="v-md-editor__editor-wrapper">
                                                                    <div class="scrollbar">
                                                                        <div class="scrollbar__wrap" style="margin-bottom: 0px; margin-right: 0px;">
                                                                            <div class="scrollbar__view">
                                                                                <div class="v-md-textarea-editor">
                                                                                    <pre>
            <section data-line="1">
                                                                                    <br></section>
            </pre>
                                                                                    <textarea spellcheck="true"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="scrollbar__bar is-horizontal"><div class="scrollbar__thumb" style="transform: translateX(0%);"></div></div>
                                                                        <div class="scrollbar__bar is-vertical"><div class="scrollbar__thumb" style="transform: translateY(0%);"></div></div>
                                                                    </div>
                                                                </div><div class="v-md-editor__preview-wrapper" style="display: none;">
                                                                    <div class="scrollbar">
                                                                        <div class="scrollbar__wrap" style="margin-bottom: 0px; margin-right: 0px;">
                                                                            <div class="scrollbar__view">
                                                                                <div class="v-md-editor-preview" style="tab-size: 2;">
                                                                                    <div class="vuepress-markdown-body"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="scrollbar__bar is-horizontal">
                                                                            <div class="scrollbar__thumb" style="transform: translateX(0%);"></div>
                                                                        </div>
                                                                        <div class="scrollbar__bar is-vertical">
                                                                            <div class="scrollbar__thumb" style="transform: translateY(0%);"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
    </div>
</div>-->
HEllo