
<div class="modal fade" id="mgsmodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modelcontent">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" id="closeloginmodel" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-5" id="modelbody">
                <div class="md-form mb-6 text-lg-center">
                    Enter your phone number to
                    Login/Sign up
                    <br />
                    <i class="fas fa-mobile-alt prefix grey-text"></i>
                    <input type="text" id="customerLogin" class="form-control-sm ">
                </div>
                @*<div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="orangeForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                    </div>*@

            </div>
            <div class="modal-footer d-flex justify-content-center" id="modelfooter">
                <button class="btn btn-deep-orange" id="CustomerLogin">Sign up</button>
                <br />
                <a id="LoginUsingEmail" class="nav-item nav-link">Login Using Email ID</a>
            </div>
        </div>
    </div>
</div>
